.callView {
	display: flex;
	flex-direction: row;
	gap: 20px;
	flex-wrap: wrap;

	div {
		flex: 1;
		width: 100%;
	}

	& > :last-child > :last-child{
		display: flex;
		gap: 10px;
		align-items: baseline;

		input {
			flex: 1;
			min-width: 150px;
		}
	}
}

b {
	color: var(--green);
}


video {
	background: black;
	width: 100%;
	aspect-ratio: 4 / 3;
    object-fit: cover;
}

button {
	background: var(--green);
	border: var(--green);
}